{% extends 'base.html' %}

{% block title %}Home - Django Learning Platform{% endblock %}

{% block content %}
<div class=" text-center">
<img src="{{ course.image.url }}" alt="{{ course.title }}">
<h1>{{ course.title }}</h1>
<p>{{ course.description }}</p>

{% if not is_enrolled %}
    <form action="{% url 'enroll_in_course' course.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-theme">Boshlash</button>
    </form>
{% else %}
    <h2>Darslar ketma-ketligi:</h2>
    <ol>
        {% for lesson in lessons %}
            <h3><li><a href="{% url 'lesson_detail' lesson.id %}"><strong>{{ lesson.title }}</strong></a></li></h3>
        {% empty %}
            <li>Darslar hali qo'shilmagan</li>
        {% endfor %}
    </ol>
{% endif %}
</div>


<a href="{% url 'index' %}">Back to Courses</a>
{% endblock %}


