{% extends 'base.html' %}

{% block title %}Lesson{% endblock %}

{% block content %}
<!-- breaadcrumb start -->
<div class="breadcrumb-nav">
    <div class="container">
        <nav aria-label="breaadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Bosh sahifa</a></li>
                <li class="breadcrumb-item"><a href="{% url 'courses' %}">Kurslar</a></li>
                <li class="breadcrumb-item"><a href="{% url 'course_detail' lesson.course.id %}">Kurs ma'lumotlari</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dars</li>
            </ol>
        </nav>
    </div>
 </div>
<!-- breaadcrumb start -->
<div class="section-title text-center">
    <h2>{{ lesson.title }}</h2>
</div>


{% if lesson.video_url %}
    <!-- <h3>Watch Video:</h3> -->
     <!-- Sharhlar Bo'limi Boshlanishi -->
<section class="testimonials section-padding">
    <div class="container">
    <div class="row align-items-center">
        <!-- <div class="col-md-6">
            <h2 class="title">Bizning yosh ixtirochilarimizdan eshiting!</h2>
            <a href="{% url 'register' %}" class="btn btn-theme">Bizga qo'shiling</a>
        </div> -->
        <div class="col-md-12">
            <div class="video-box">
                <iframe width="100%" height="315" src="{{ lesson.video_url|cut:'watch?v='|add:'embed/' }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    </div>
    </section>
    <!-- Sharhlar Bo'limi Tugashi -->
    
{% else %}
    <p>Ushbu darsda video yo'q.</p>
{% endif %}
<div class="section-title text-center">
    <h3>Dars matni:</h2>
    <p>{{ lesson.content }}</p>
</div>
<div class=" text-center">
<h3>Darslar:</h3>

<ol>
    {% for lesson in lessons %}
        <h3><li><a href="{% url 'lesson_detail' lesson.id %}"><strong>{{ lesson.title }}</strong></a></li></h3>
    {% empty %}
        <li>Darslar hali qo'shilmagan</li>
    {% endfor %}
</ol>
</div>

{% endblock %}
